@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Schindler Test<br />
    Ebikon Street<br />
    <abbr title="Phone">P:</abbr>
    123-123-11
</address>

<address>
    <strong>Support:</strong> <a href="mailto:cnkamanyi@hotmail.com">cnkamanyi@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:cnkamanyi@hotmail.com">cnkamanyi@hotmail.com</a>
</address>
